body {
  color:white;
  background-color: #FFFCC4;
  background-image: url(http://localhost/WebMulti2/images/1.jpg);
  background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(0, 00, 00, 0.8)), url(http://localhost/WebMulti2/images/1.jpg);


}
h1 {background-color: #FF3800;
 padding: 10px;
box-shadow: 0px 0px 15px 1px black}

a {
  display: inline;
  color:white;
  margin: auto;
  background-color: #009393;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px black

}
