body {
background-color: white
  }

.center{
  display: block;
  margin: auto;
  width: 60%;
  padding: 10px 20px;
}

 input{
  /*border: none;*/
   align: center;
  border: 0 ;
  box-shadow: none !important;
  border-radius: 2px;
  border-bottom: 2px solid #009393;

  box-sizing: content-box;
  background-color: white;
  padding: 5px 5px;
  margin:10px 0;
  width: 200px;
  height: 20px;
  font-size: 20px}

   input:focus {
  transition: ease-in-out, .25s ease-in-out;
  box-shadow: none !important;
  border:0;
  border-radius: 3px;
  border-bottom: 4px solid #00585F;
  width: 250px;
  height: 20px;
  outline: none}

  select {
    border: 0 ;
    box-shadow: none !important;
    border-radius: 2px;
    border-bottom: 2px solid #009393;

    box-sizing: content-box;
    background-color: white;
    padding: 5px 5px;
    margin:10px 0;
    width: 200px;
    height: 20px;
    font-size: 20px

  }
  select:focus {
    transition: ease-in-out, .25s ease-in-out;
    box-shadow: none !important;
    border:0;
    border-radius: 3px;
    border-bottom: 4px solid #00585F;
    width: 250px;
    height: 20px;
    outline: none
  }
  option:focus {
    border:
    border-bottom: blue}
button {
  border: 0 !important;
  box-shadow: none ;
  color: white;
  background-color: #009393;
  padding: 10px 15px ;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px grey}

button:hover {
  transition: ease-in-out, .1s ease-in-out;

  box-shadow: 0px 0px 10px 1px grey
}

table {border-collapse: collapse;}
table, th, td{
  margin:auto;
  border-radius: 5px;border-style: solid;
  border-color:#009393;
  border: 1px solid #009393;
  padding: 5px;
  width: 10px;
  height: 5px
}
table img {width: 200px;
height:300px}

table input {display: inline-block;
  width:80px;
font-size: 12px;
overflow: visible;
white-space: nowrap;}
table input:focus {transition: ease-in-out, .25s ease-in-out;
  width: fit-content;
  min-width:100px;

font-size: 12px}
